.Vazio {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-size: large;
}

.Excluir {
    padding-top: 9%;
    padding-left: 9%;
    padding-bottom: 9%;
    padding-right: 9%;
    margin-bottom: 9.5%;
}

.Item_L {
    margin-bottom: 0.3%;
}

ion-label{
    margin-bottom: 5%;
}
ion-title{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}
img{
margin-top: 5%;
margin-left: 59%;
}